@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
.text-primary {
  color: #AA0601; }

.text-secondary {
  color: #650300; }

.text-dark {
  color: #000000; }

.text-light {
  color: #FFFFFF; }

.sample-color-primary {
  color: #B75929; }

.sample-color-secondary {
  color: #5F3E2D; }

.bg-primary {
  background: #AA0601; }

.bg-light {
  background-color: #FBF2F2; }

.text-center {
  text-align: center; }

body {
  line-height: 1.5;
  font-family: 'Noto Sans', sans-serif; }

.font-Eng {
  font-family: 'Roboto', sans-serif; }

.font-bold {
  font-weight: 700; }

.text-title-xs {
  font-size: 20px;
  font-weight: 400; }

.text-title-s {
  font-size: 48px;
  font-weight: 700; }

.text-title-m {
  font-size: 64px;
  font-weight: 700; }

.text-title-lg {
  font-size: 72px;
  font-weight: 700; }

.text-subtitle {
  font-size: 24px;
  font-weight: 700; }

.text-subtitle-lg {
  font-size: 36px;
  font-weight: 400; }

.font-m {
  font-size: 20px; }

.font-sm {
  font-size: 16px; }

.font-extra-sm {
  font-size: 14px; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-3-s {
  margin-bottom: 20px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-4-m {
  margin-bottom: 36px; }

.mb-5 {
  margin-bottom: 40px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-7-s {
  margin-bottom: 52px; }

.mr-4-s {
  margin-right: 30px; }

.mr-4 {
  margin-right: 32px; }

.mr-6 {
  margin-right: 48px; }

.mr-8 {
  margin-right: 64px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

a, ol, ul {
  list-style: none;
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*img {
  max-width: 100%;
  height: auto; }

.menu {
  padding: 30px 88px; }
  .menu .logo {
    background: url("../images/logo-new_work/logo-new_work_1.png") center center;
    background-size: cover;
    display: block;
    width: 80px;
    height: 48.6px;
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap; }
    @media (max-width: 414px) {
      .menu .logo {
        max-width: 100%;
        height: 30px;
        margin: 10px 0px;
        background-size: contain;
        background-repeat: no-repeat; } }
  @media (max-width: 768px) {
    .menu {
      max-width: 768px;
      padding-left: 30px;
      padding-right: 0px; } }
  @media (max-width: 414px) {
    .menu {
      max-width: 414px;
      margin: 0 auto;
      padding: 0px; }
      .menu h1 {
        display: block; } }

.flex-row-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.menu-list {
  max-width: 600px; }
  .menu-list a {
    position: relative; }
    .menu-list a::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 2;
      top: -5px;
      left: 0;
      bottom: 0;
      right: 0;
      height: 3px;
      width: 0px;
      background: #fff;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      transition: 0.3s; }
    .menu-list a:hover:after {
      width: 100%; }
    @media (max-width: 768px) {
      .menu-list a {
        margin-right: 40px; } }
  @media (max-width: 414px) {
    .menu-list {
      width: 100%; }
      .menu-list li {
        width: 50%;
        height: 45px;
        border: 1px solid white;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; }
        .menu-list li a {
          margin-right: 0px; } }

@media (max-width: 768px) {
  .flex-align-c {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

@media (max-width: 414px) {
  .flex-col-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .flex-wrap-center {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

.footer {
  padding-top: 44px;
  padding-bottom: 39px; }
  @media (max-width: 414px) {
    .footer {
      position: relative;
      padding-top: 25px;
      padding-bottom: 95px; } }
  .footer a:hover {
    color: black; }
  .footer-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 414px) {
      .footer-nav {
        -webkit-box-pack: end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
  @media (max-width: 414px) {
    .footer-contact {
      position: absolute;
      top: 0px; } }
  @media (max-width: 414px) {
    .footer-contact a {
      font-size: 16px;
      margin-bottom: 6px; } }
  @media (max-width: 414px) {
    .footer-contact a:nth-last-child(1) {
      font-size: 16px;
      margin-bottom: 0px; } }
  .footer-contact a:before {
    content: "";
    display: inline-block;
    height: 36px;
    width: 36px;
    vertical-align: middle;
    margin-right: 22px; }
    @media (max-width: 414px) {
      .footer-contact a:before {
        height: 15px;
        width: 15px;
        margin-right: 6px; } }
  .footer-contact-a:before {
    background: url(../images/week3/icon-phone.svg) center center no-repeat;
    background-size: contain; }
  .footer-contact-b:before {
    background: url(../images/week3/icon-mail.svg) center center no-repeat;
    background-size: contain; }
  @media (max-width: 768px) {
    .footer {
      max-width: 100%; } }

.policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .policy-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  @media (max-width: 414px) {
    .policy {
      position: absolute;
      top: 50px;
      margin-top: 40px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      margin-bottom: 8px; }
      .policy-list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
      .policy-list li:nth-last-child(1) {
        margin-bottom: 0px; } }

@media (max-width: 414px) {
  .font-sm {
    margin-bottom: 8px; } }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .nav-list {
    display: inline-block; }
  @media (max-width: 768px) {
    .nav li {
      margin-right: 40px; }
    .nav a {
      margin-right: 0; } }
  @media (max-width: 414px) {
    .nav {
      display: none; } }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social li:hover {
    display: inline-block;
    -webkit-transform: scale(1.2, 1.2);
        -ms-transform: scale(1.2, 1.2);
            transform: scale(1.2, 1.2);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  @media (max-width: 768px) {
    .social img {
      width: 24px;
      height: 24px;
      margin-right: 24px; }
      .social img [alt=Line] {
        margin-right: 0px; } }

.d-block {
  display: block; }

@media (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
    margin: 0 auto; }
    .container h2 {
      margin-bottom: 32px; } }

@media (max-width: 414px) {
  .container {
    position: relative; }
  .break {
    margin-top: 44px; } }

.banner {
  background: url(../images/week3/banner.png) center center;
  background-size: cover;
  height: 840px;
  /* max-width: 1920px; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20%; }
  .banner h2 {
    text-align: end; }
  @media (max-width: 768px) {
    .banner {
      max-width: 100%; }
      .banner h2 {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; }
      .banner .text-subtitle-lg {
        font-size: 20px; }
      .banner .text-title-m {
        font-size: 48px; } }
  @media (max-width: 414px) {
    .banner {
      max-width: 414px;
      height: 394px; }
      .banner .text-subtitle-lg {
        font-size: 16px; }
      .banner .text-title-m {
        font-size: 32px; } }

@media (max-width: 768px) {
  .j-flex-end {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .pd-right-s {
    padding-right: 5%; } }

.highlight {
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .highlight {
      padding-top: 40px;
      padding-bottom: 56px; }
      .highlight h2 {
        font-size: 32px; } }
  @media (max-width: 414px) {
    .highlight {
      padding-top: 32px;
      padding-bottom: 40px; }
      .highlight h2 {
        font-size: 24px; }
      .highlight .highlight-list li {
        width: 73%;
        margin-right: 0; } }

.highlight-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .highlight-list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 25%;
    margin-right: 30px; }
  .highlight-list li:nth-child(4) {
    margin-right: 0; }
  @media (max-width: 768px) {
    .highlight-list {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .highlight-list li {
        width: 36%; }
      .highlight-list li:nth-child(2n) {
        margin-right: 0; } }

.icon-size {
  height: 83.33px;
  background-size: contain;
  margin: 8.33px;
  background-repeat: no-repeat; }

.clock-icon {
  background: url(../images/week3/icon-clock.svg) center center;
  height: 83.33px;
  width: 83.33px;
  background-size: contain;
  margin: 8.33px;
  background-repeat: no-repeat; }

.money-icon {
  background: url(../images/week3/icon-dollar.svg) center center;
  height: 83.33px;
  width: 83.33px;
  background-size: contain;
  margin: 8.33px;
  background-repeat: no-repeat; }

.heart-icon {
  background: url(../images/week3/icon-heart.svg) center center;
  height: 83.33px;
  width: 83.33px;
  background-size: contain;
  margin: 8.33px;
  background-repeat: no-repeat; }

.glasses-icon {
  background: url(../images/week3/icon-glasses.svg) center center;
  height: 83.33px;
  width: 100px;
  background-size: contain;
  margin: 8.33px;
  background-repeat: no-repeat; }

@media (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
    margin: 0 auto; } }

@media (max-width: 414px) {
  .container {
    max-width: 414px;
    margin: 0 auto;
    padding: 0 15px; } }

/* //product-classic */
.product-classic {
  padding-top: 60px;
  padding-bottom: 80px; }
  @media (max-width: 768px) {
    .product-classic {
      max-width: 100%;
      padding-top: 40px;
      padding-bottom: 56px; }
      .product-classic h2 {
        font-size: 32px; } }
  @media (max-width: 414px) {
    .product-classic {
      padding-top: 32px;
      padding-bottom: 40px; }
      .product-classic h2 {
        font-size: 24px; } }

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  .product li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start; }
    @media (max-width: 768px) {
      .product li {
        width: 100%;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media (max-width: 414px) {
      .product li {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        position: relative;
        max-width: 100%; } }
  .product p {
    margin: 0 30px; }
    @media (max-width: 414px) {
      .product p {
        margin: 0 0 0 30px;
        position: absolute; } }
  .product li:nth-child(2) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse; }
    @media (max-width: 768px) {
      .product li:nth-child(2) {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row; } }
    @media (max-width: 414px) {
      .product li:nth-child(2) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .product-pic {
    width: 635px;
    height: auto; }
    @media (max-width: 768px) {
      .product-pic {
        max-width: 58%; } }
    @media (max-width: 414px) {
      .product-pic {
        max-width: 100%; } }
  .product .text-title-s {
    text-transform: uppercase;
    font-style: italic; }
    @media (max-width: 768px) {
      .product .text-title-s {
        font-size: 28px; } }
    .product .text-title-s span {
      width: 48px;
      height: 48px;
      margin-right: 10px; }

.product-icon-1 {
  display: inline-block;
  background: url(../images/week3/auto_awesome_red_24dp.svg) center center;
  background-repeat: no-repeat;
  background-size: contain; }

.product-icon-2 {
  display: inline-block;
  background: url(../images/week3/icon-sun-black.svg) center center;
  background-repeat: no-repeat;
  background-size: contain; }

.product-icon-3 {
  display: inline-block;
  background: url(../images/week3/flash_on_black_24dp.svg) center center;
  background-repeat: no-repeat;
  background-size: contain; }

@media (max-width: 768px) {
  .container {
    max-width: 720px;
    padding: 0 15px;
    margin: 0 auto; }
  .product li:nth-child(1) {
    margin-bottom: 8px; }
  .product li:nth-child(2) {
    margin-bottom: 8px; }
  .product li:nth-child(3) {
    margin-bottom: 0; }
  .product .product-icon-1 {
    width: 36px;
    height: 36px;
    vertical-align: sub; }
  .product .product-icon-2 {
    width: 36px;
    height: 36px;
    vertical-align: sub; }
  .product .product-icon-3 {
    width: 40px;
    height: 40px;
    vertical-align: sub; } }

@media (max-width: 414px) {
  .container {
    max-width: 414px;
    margin: 0 auto;
    padding: 0 15px; }
  .product-classic .product .product-icon-1, .product-classic .product .product-icon-2, .product-classic .product .product-icon-3 {
    width: 40px;
    height: 40px;
    vertical-align: sub; } }

/*# sourceMappingURL=all.css.map */
