@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
.text-primary {
  color: #AA0601; }

.text-secondary {
  color: #650300; }

.text-dark {
  color: #000000; }

.text-light {
  color: #FFFFFF; }

.sample-color-primary {
  color: #B75929; }

.sample-color-secondary {
  color: #5F3E2D; }

.bg-primary {
  background: #AA0601; }

.bg-light {
  background-color: #FBF2F2; }

.text-center {
  text-align: center; }

body {
  line-height: 1.5;
  font-family: 'Noto Sans', sans-serif; }

.font-Eng {
  font-family: 'Roboto', sans-serif; }

.font-bold {
  font-weight: 700; }

.text-title-xs {
  font-size: 20px;
  font-weight: 400; }

.text-title-s {
  font-size: 48px;
  font-weight: 700; }

.text-title-m {
  font-size: 64px;
  font-weight: 700; }

.text-title-lg {
  font-size: 72px;
  font-weight: 700; }

.text-subtitle {
  font-size: 24px;
  font-weight: 700; }

.text-subtitle-lg {
  font-size: 36px;
  font-weight: 400; }

.font-m {
  font-size: 20px; }

.font-sm {
  font-size: 16px; }

.font-extra-sm {
  font-size: 14px; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-3-s {
  margin-bottom: 20px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-4-m {
  margin-bottom: 36px; }

.mb-5 {
  margin-bottom: 40px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-7-s {
  margin-bottom: 52px; }

.mr-4-s {
  margin-right: 30px; }

.mr-4 {
  margin-right: 32px; }

.mr-6 {
  margin-right: 48px; }

.mr-8 {
  margin-right: 64px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

a, ol, ul {
  list-style: none;
  text-decoration: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*img {
  max-width: 100%;
  height: auto; }

.menu {
  /* max-width: 1920px; 代表滿版無需寫*/
  padding: 30px 88px; }

.menu .logo {
  background: url("/images/logo-new_工作區域_1.png") center center;
  background-size: cover;
  display: block;
  width: 80px;
  height: 48.6px;
  text-indent: 101%;
  overflow: hidden;
  white-space: nowrap; }

.flex-row-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-row-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.menu-list {
  max-width: 600px; }

.menu-list a {
  position: relative; }

.menu-list a:after {
  content: "";
  display: block;
  position: absolute;
  z-index: 2;
  top: -5px;
  left: 0;
  bottom: 0;
  right: 0;
  height: 3px;
  width: 0px;
  background: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.menu-list a:hover:after {
  width: 100%; }

/* // header Pad */
@media (max-width: 768px) {
  .menu {
    max-width: 768px;
    padding-left: 30px;
    padding-right: 0px; }
  .menu-list a {
    margin-right: 40px; }
  .flex-align-c {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

/* // header mobile */
@media (max-width: 414px) {
  header.menu {
    max-width: 414px;
    margin: 0 auto;
    padding: 0px; }
  .menu .logo {
    max-width: 100%;
    height: 30px;
    margin: 10px 0px;
    background-size: contain;
    background-repeat: no-repeat; }
  .menu h1 {
    display: block; }
  .flex-col-center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .flex-wrap-center {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .menu-list {
    width: 100%;
    /* 設置375px 時用max-width寬只能自適到308px,不確定為何 */ }
  .menu-list li {
    width: 50%;
    height: 45px;
    border: 1px solid white;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .menu-list li a {
    margin-right: 0px; } }

/* // footer */
.footer {
  /* max-width: 100%; */
  padding-top: 44px;
  padding-bottom: 39px; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px; }

.footer a:hover {
  color: black; }

.footer-nav, .policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.footer-contact a:before {
  content: "";
  display: inline-block;
  height: 36px;
  width: 36px;
  vertical-align: middle;
  margin-right: 22px; }

.footer-contact-a:before {
  background: url(/images/week3/icon-phone.svg) center center no-repeat;
  background-size: contain; }

.footer-contact-b:before {
  background: url(/images/week3/icon-mail.svg) center center no-repeat;
  background-size: contain; }

.nav, .social, .policy-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.social li:hover {
  display: inline-block;
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.nav-list {
  display: inline-block; }

.d-block {
  display: block; }

/* //footer Pad */
@media (max-width: 768px) {
  .footer {
    /* width:100vh; */
    max-width: 100%; }
  .container {
    max-width: 720px;
    padding: 0 15px;
    margin: 0 auto; }
  .container h2 {
    margin-bottom: 32px; }
  .nav li {
    margin-right: 40px; }
  .nav a {
    margin-right: 0; }
  .social img {
    width: 24px;
    height: 24px;
    margin-right: 24px; }
  img[alt=Line] {
    margin-right: 0px; } }

/* //footer mobile  */
@media (max-width: 414px) {
  .nav {
    display: none; }
  .footer-nav {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .footer .container {
    position: relative; }
  .footer-contact {
    position: absolute;
    top: 0px; }
  .policy {
    position: absolute;
    top: 50px; }
  .footer {
    padding-top: 25px;
    padding-bottom: 95px; }
  .footer-contact a {
    font-size: 16px;
    margin-bottom: 6px; }
  .footer-contact a:nth-last-child(1) {
    font-size: 16px;
    margin-bottom: 0px; }
  .footer-contact a:before {
    height: 15px;
    width: 15px;
    margin-right: 6px; }
  .break {
    margin-top: 44px; }
  .policy {
    margin-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .policy .font-sm {
    margin-bottom: 8px; }
  .policy-list li:nth-last-child(1) {
    margin-bottom: 0px; }
  .policy-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  /* .text-title-xs{
        font-size: 20px;
        font-weight: 400;
    } */ }

/*# sourceMappingURL=all.css.map */
