//base
body{
    line-height: 1.5;
    font-family: 'Noto Sans TC','Roboto', sans-serif;
}

.font-Eng{
    font-family:'Roboto', sans-serif;
    
}
*,*:before,*:after{
    box-sizing: border-box;
}
*img{
    max-width: 100%;
    height:auto;
    
}

//other
.text-center{
    text-align: center;
}