
//color-text
$color-primary:#AA0601;
$color-secondary:#650300;
$color-third-light:#FBF2F2;
$text-dark:#000000;
$text-light:#FFFFFF;
$sample-primary:#B75929;
$sample-secondary:#5F3E2D;


.text-primary{
    color:$color-primary;
}

.text-secondary{
    color:$color-secondary;
    
}
.text-dark{
    color:$text-dark;
}
.text-light{
    color:$text-light;
    
}
.sample-primary{
    color:$sample-primary;
}
.sample-secondary{
    color:$sample-secondary;
}

//color-background
.bg-primary{
    background: $color-primary;
    
}

.bg-light{
    background-color: $color-third-light;
}

